@import 'main.scss';
#viewbox {
	width: 100%;
	height: 100%;
}
#login {
	width: 100%;
	height: 100%;
	background: url(../images/bg.jpg) 0 0 repeat-x;
}
#divlogin {
	height: 716px;
	width: 1024px;
	overflow: hidden;
	margin: 0 auto;
	background: url(../images/bg_login.jpg) no-repeat scroll 50% 50% transparent;
}
.mod_login_in {
	width: 330px;
	height: 173px;
	padding: 70px 0 0 70px;
	float: left;
	margin: 208px 0 0 287px;
	.mod_login_pwd, .mod_login_user {
		width: 240px;
		height: auto;
		padding: 6px 10px;
		border: 0 none;
		line-height: normal;
		color: #999;
		font-size: 12px
	}
}

/* global */
#header {
	width: 100%;
	min-width: 800px;
	background: url(../images/bg_top01.png) 0 0 repeat-x;
	#topOpration {
		width: 220px;
		height: 35px;
		float: right;
		padding: 0;
		margin-top: 15px;
		li {
			width: 35px;
			height: 35px;
			margin-right: 16px;
			display: inline-block;
			cursor: pointer;
			&:hover {
				@include transform(scale(1.2));
			}
			&:active {
				@include transform(scale(.9));
			}
			&.reloadBtn {
				background: url(../images/reload.png) 0 0 no-repeat;
			}
			&.backBtn {
				background: url(../images/back.png) 0 0 no-repeat;
			}
			&.forwardBtn {
				background: url(../images/forward.png) 0 0 no-repeat;
			}
			&.logoutBtn {
				background: url(../images/logout.png) 0 0 no-repeat;
			}
		}
	}
}
#subnav {
	height: 27px;
	width: 100%;
	min-width: 800px;
	line-height: 27px;
	background: url(../images/bg_top02.png) 0 0 repeat-x;
	text-align: right;
	color: #fff;
	font-size: 14px;
	overflow: hidden;
	span {
		margin-right: 20px;
	}
}
#content {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	#menu {
		width: 197px;
		padding: 0 2px;
		background-color: #eee;
		position: absolute;
		bottom: 0;
		top: 87px;
		left: 0;
		li {
			cursor: pointer;
			font-size: 18px;
			line-height: 38px;
			&.navbtn {
				background: #b2d5f5 url(../images/navbtn.png) no-repeat;
				color: #fff;
				padding-left: 42px;
				height: 43px;
			}
			&.subnavbtn {
				padding-left: 42px;
				color: #109bd2;
				background: url(../images/navsubbtn.png) repeat-x;
				height: 43px;
			}
			a {
				text-decoration: none;
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}
}
#sub-content {
	text-align: left;
	overflow: scroll;
	background-color: white;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 197px;
	top: 86px;
	padding: 0 10px;
}
#province-box {
	text-align: left;
	margin-left: 193px;
	width: 300px;
	float: left;
	select {
		display: inline-block;
		width: 100px;
		height: 20px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
		-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	}
}

#table-up{
	padding: 10px 5px;
}