<div>
    <!-- 城市、区县、商圈、一级行业、二级行业、名称 -->
    <div id="table-up" class="clearfix">
        <label class="control-label">按商户名称筛选：</label>
        <input type="text" ng-model="merchantQuery.shopName" />
        <select ng-model="merchantQuery.city" ng-change="cityChange()">
            <option value="">城市</option>
            <option ng-repeat="c in pDetail.cities" value="{{c.cityId}}">{{c.cityName}}</option>
        </select>
        <select ng-model="merchantQuery.area" ng-change="areaChange()" ng-show="pDetailAreas.length > 0">
            <option value="">区县</option>
            <option ng-repeat="a in pDetailAreas" value={{a.areaId}}>{{a.areaName}}</option>
        </select>
        <select ng-model="merchantQuery.zone" ng-show="pDetailZones.length > 0">
            <option value="">商圈</option>
            <option ng-repeat="z in pDetailZones" value={{z.zoneId}}>{{z.zoneName}}</option>
        </select>
        <select ng-model="merchantQuery.firstType" ng-change="firstTypeChange()">
            <option value="">一级行业</option>
            <option ng-repeat="f in pDetail.firstTypes" value={{f.firstTypeId}}>{{f.firstTypeName}}</option>
        </select>
        <select ng-model="merchantQuery.secondType" ng-show="pDetailSecondType.length > 0">
            <option value="">二级行业</option>
            <option ng-repeat="s in pDetailSecondType" value={{s.secondTypeId}}>{{s.secondTypeName}}</option>
        </select>
    </div>
    <!-- 商户ID、商户名称、所属市、所属区县、所属商圈、一级行业、二级行业、商户地址、结算 -->
    <div y-pagination max-page="maxPage" current-page="currentPage" n-id="tableId" ng-show="merchantList.length > 0"></div>
    <table at-table at-list="merchantList" at-config="config" at-paginated class="table table-striped">
        <thead></thead>
        <tbody>
            <tr>
                <td at-implicit at-title="商户ID" at-attribute="shopId"></td>
                <td at-implicit at-title="商户名称" at-attribute="shopName"></td>
                <td at-implicit at-title="所属市" at-attribute="city"></td>
                <td at-implicit at-title="所属区县" at-attribute="area"></td>
                <td at-implicit at-title="所属商圈" at-attribute="zone"></td>
                <td at-implicit at-title="一级行业" at-attribute="firstType"></td>
                <td at-implicit at-title="二级行业" at-attribute="secondType"></td>
                <td at-implicit at-title="商户地址" at-attribute="address"></td>
                <td at-title="结算">
                    <a ui-sref="info.settlementDetail({merchantid:item.shopId})" class="btn btn-primary glyphicon glyphicon-pencil" ></a>
                </td>
            </tr>
        </tbody>
    </table>
    <div y-pagination max-page="maxPage" current-page="currentPage" n-id="tableId" ng-show="merchantList.length > 0"></div>
</div>
