<!-- 二级订单ID、消费码、订单内容、商品属性、订单生成时间、订单销码时间、客户手机号。 -->
<div>
    <div id="table-up" class="clearfix">
        <div class="dpbox col-sm-3">
            选择开始时间：
            <div class="dropdown">
                <a class="dropdown-toggle my-toggle-select-start" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
                    <div class="input-append input-group">
                        <input type="text" class="form-control" value="{{data.startdate|date:'yyyy年MM月dd日'}}"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="data.startdate" data-datetimepicker-config="{{dpconfig}}"></datetimepicker>
                </ul>
            </div>
        </div>
        <div class="dpbox col-sm-3">
            选择结束时间：
            <div class="dropdown">
                <a class="dropdown-toggle my-toggle-select-end" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
                    <div class="input-append input-group">
                        <input type="text" class="form-control" value="{{data.enddate|date:'yyyy年MM月dd日'}}"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="data.enddate" data-datetimepicker-config="{{dpconfig}}"></datetimepicker>
                </ul>
            </div>
        </div>
        <button class='btn btn-primary create-btn' ng-click="toCreate()">生成统计</button>
    </div>
    <h4>生成订单列表</h4>
    <div y-pagination max-page="maxPage" current-page="currentPage" n-id="tableId" ng-show="ledgerQueryList.length > 0"></div>
    <table at-table at-list="ledgerQueryList" at-config="config" at-paginated class="table table-striped">
        <thead></thead>
        <tbody>
            <tr>
                <td at-implicit at-title="生成时间" at-attribute="requestTime"></td>
                <td at-implicit at-title="开始时间" at-attribute="startDate"></td>
                <td at-implicit at-title="结束时间" at-attribute="endDate"></td>
                <td at-implicit at-title="结果" at-attribute="excelUrl" ng-if="item.status != 1">
                    <a ng-href="{{item.excelUrl}}" target="_blank">下载地址</a>
                </td>
                <td ng-if="item.status == 1">
                    生成中
                </td>
            </tr>
        </tbody>
    </table>
    <div y-pagination max-page="maxPage" current-page="currentPage" n-id="tableId" ng-show="ledgerQueryList.length > 0"></div>
</div>
