<div>
    <h3>修改用户信息</h3>
    <form class="form form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">用户名：</label>
            <div class="col-sm-3">
                <input type="text" value="{{profile.username}}" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">用户姓名：</label>
            <div class="col-sm-3">
                <input type="text" ng-model="nickname" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">密码：</label>
            <div class="col-sm-3">
                <input type="password" ng-model="passwd" class="form-control"/>
            </div>
        </div>
        <button class="btn btn-info col-sm-offset-2" ng-click="modifyInfoClick()">确定</button>
    </form>
</div>
