<div>
    <h3>修改密码</h3>
    <form class="form form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">原始密码：</label>
            <div class="col-sm-3">
                <input type="password" ng-model="oldpasswd" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">新密码：</label>
            <div class="col-sm-3">
                <input type="password" ng-model="newpasswd" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">重复新的密码：</label>
            <div class="col-sm-3">
                <input type="password" ng-model="newpasswd_confirm" class="form-control"/>
            </div>
        </div>
        <button class="btn btn-info col-sm-offset-2" ng-click="">确定</button>
    </form>
</div>
