<div>
    <!-- 城市、区县、商圈、一级行业、二级行业、名称 -->
    <div id="table-up" class="clearfix">
        <label class="control-label">按商户名称筛选：</label>
        <input type="text" ng-model="merchantQuery.shopName" />
        <select ng-model="merchantQuery.city">
            <option value="">城市</option>
            <option>全国结算专员</option>
            <option>省结算专员</option>
        </select>
        <select ng-model="merchantCountyQuery.area">
            <option value="">区县</option>
            <option>全国结算专员</option>
            <option>省结算专员</option>
        </select>
        <select ng-model="merchantQuery.zone">
            <option value="">商圈</option>
            <option>全国结算专员</option>
            <option>省结算专员</option>
        </select>
        <select ng-model="merchantQuery.firstType">
            <option value="">一级行业</option>
            <option>全国结算专员</option>
            <option>省结算专员</option>
        </select>
        <select ng-model="merchantQuery.secondType">
            <option value="">二级行业</option>
            <option>全国结算专员</option>
            <option>省结算专员</option>
        </select>
    </div>
    <!-- 商户ID、商户名称、所属市、所属区县、所属商圈、一级行业、二级行业、商户地址、结算 -->
    <table at-table at-list="merchantList" at-config="config" at-paginated class="table table-striped">
        <thead></thead>
        <tbody>
            <tr>
                <td at-implicit at-title="商户ID" at-attribute="shopId"></td>
                <td at-implicit at-title="商户名称" at-attribute="shopName"></td>
                <td at-implicit at-title="所属市" at-attribute="city"></td>
                <td at-implicit at-title="所属区县" at-attribute="area"></td>
                <td at-implicit at-title="所属商圈" at-attribute="zone"></td>
                <td at-implicit at-title="一级行业" at-attribute="firstType"></td>
                <td at-implicit at-title="二级行业" at-attribute="secondType"></td>
                <td at-implicit at-title="商户地址" at-attribute="address"></td>
                <td at-title="结算">
                    <a ui-sref="info.settlementDetail({merchantid:item.shopId})" class="btn btn-primary glyphicon glyphicon-pencil" ></a>
                </td>
            </tr>
        </tbody>
    </table>
    <div y-pagination max-page="maxPage" current-page="currentPage" n-id="tableId"></div>
</div>
