<div>
    <div id="table-up">
        <label class="control-label">按用户名筛选：</label>
        <input type="text" ng-model="usernameQuery" ng-change="updateFilterPeopleList()" />
        <select>
        	<option>选择角色</option>
        	<option>全国结算专员</option>
        	<option>省结算专员</option>
        </select>
    </div>
    <table at-table at-list="fileterPeopleList" at-config="config" at-paginated class="table table-striped">
        <thead></thead>
        <tbody>
            <tr>
                <td at-implicit at-title="用户ID" at-attribute="id"></td>
                <td at-implicit at-title="用户名" at-attribute="username"></td>
                <td at-title="修改">
                    <button class="btn btn-primary glyphicon glyphicon-pencil" ng-click="modify(item.id)"></button>
                </td>
                <td at-title="删除">
                    <button class="btn btn-danger glyphicon glyphicon-remove" ng-click="remove(item.id, item.nickname)"></button>
                </td>
                <td at-implicit at-title="姓名" at-attribute="nickname"></td>
                <td at-title="所属角色">{{item.role}}</td>
                <td at-title="所属区域">{{item.area}}</td>
                <td at-title="重置密码">
                    <button class="btn btn-primary glyphicon glyphicon-pencil" ng-click="resetPsw(item.id)"></button>
                </td>
            </tr>
        </tbody>
    </table>
    <at-pagination at-config="config" at-list="fileterPeopleList"></at-pagination>
</div>
